<a href="https://colab.research.google.com/github/ajeancharles/bert/blob/master/load_data_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Load the dataset into a pandas dataframe.
df = pd.read_csv("./cola_public/raw/in_domain_train.tsv", delimiter='\t', header=None, names=['sentence_source', 'label', 'label_notes', 'sentence'])
# Report the number of sentences.
print('Number of training sentences: {:,}\n'.format(df.shape[0]))
# Display 10 random rows from the data.
df.sample(10)

Number of training sentences: 8,551

     sentence_source  ...                                           sentence
4191            ks08  ...                               It is a wooden desk.
3447            ks08  ...  The professor found some strong evidences of w...
7718            ad03  ...         Poseidon wept, after the executioner left.
33              gj04  ...                            Bill bled on the floor.
755             bc01  ...  They represented Mary seriously to the dean as...
916             bc01  ...          Sally suspected Joe, but he didn't Holly.
7201           sks13  ...  It is before tomorrow that this girl in the re...
7797            ad03  ...          Gilgamesh may have quickly cast the spell
1714            r-67  ...  The hardest that that it has snowed here is be...
7934            ad03  ...                                 Will can he do it?

[10 rows x 4 columns]